/* general style */
@font-face {
  font-family: 'droid';
  src: url('../../Assets/font/Droid.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  direction: rtl;
  overflow: hidden;
}

:root {
  --green: rgb(65, 185, 105);
  --white: white;
}
/*form*/
.main-parent{
  background-image: url(../../Assets/images/palms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-parent .form-wrap{
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 10px;
  padding: 0px 40px 20px 40px;
  backdrop-filter: blur(2px);
}

.form-wrap h1{
  font-variant: small-caps;
  font-size: 45px;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'droid';
  padding-top: 20px;
}

.form-wrap h1 span{
  color: var(--green);
  font-family: 'droid';
}

.form-wrap .single-input input{
  width: 100%;
  padding: 14px 10px;
  border: 1px solid rgb(144, 138, 143);
  outline: none;
  background-color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
  font-family:'Roboto', sans-serif;
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
  font-family: 'droid';
  margin-right: 5px;
}

.submit-btn{
  text-align: center;
  font-family: 'droid';
}

.submit-btn input{
  background-color: var(--green);
  outline: none;
  color: var(--white);
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border:none;
  border-radius: 10px;
  margin-top: 20px;
}

.login-btn input{
  padding: 13px 30px;
}

.account-have{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.account-have a{
  color: rgba(34,34,34);
  text-decoration: none;
  font-family:'Roboto', sans-serif;
}

/* registeration style */
.signup{
  width: 100%;
  height: 140vh;
}
.signup .signup-wrap{
  width:600px;
}
.signup-user{
  width: 100%;
  height: 110vh;
}
.signup-user .signup-wrap{
  width: 600px;
}
.signup-btn input{
  padding: 13px 110px;
}
