@font-face {
    font-family: 'droid';
    src: url('../../Assets/font/Droid.ttf');
}

ul {
    list-style-type: none;
}

.about_us{
    margin: 40px 0;
}
.name{
    text-decoration: none;
    color: rgb(16, 87, 16);
    font-family: 'droid';
}
.name:hover{
    color: rgb(16, 87, 16);
}
.team{
    font-family: 'droid';
} 
.ecommerce_about_team {
    position: relative;
    font-family: 'droid';
}

.ecommerce_about_team .team_box .team-img {
    position: relative;
    border-radius: 50%;
    text-align: center;
}

.ecommerce_about_team .team_box .team-img img {
    padding: 14px;
}

.ecommerce_about_team .team_box .team-img::after,
.ecommerce_about_team .team_box .team-img::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%
}

.ecommerce_about_team .team_box .team-img::before {
    background-color: #06d6a0;
    left: 60%
}

.ecommerce_about_team .team_box .team-img::after {
    background-color: #ef476f;
    left: 35%;
    bottom: 0
}


@media (max-width:1200px) {
    .ecommerce_about_team .team_box .team-img::before {
        background-color: #06d6a0;
        left: 64%;
        top: 6%;
        
    }
    
    
    .ecommerce_about_team .team_box .team-img::after {
        background-color: #ef476f;
        left: 30%;
        bottom: 12%;
    }
}


@media (max-width: 992px) {
    .ecommerce_about_team .team_box .team-img::before {
        background-color: #06d6a0;
        left: 69%;
        top: 6%;
        
    }
    
    
    .ecommerce_about_team .team_box .team-img::after {
        background-color: #ef476f;
        left: 36%;
        bottom: 10%;
    }
}

/* @media (max-width: 786px) {
    .ecommerce_about_team .team_box .team-img::before {
        background-color: #06d6a0;
        left: 74%;
        top: 5%;
        
    }
    
    .ecommerce_about_team .team_box .team-img::after {
        background-color: #ef476f;
        left: 30%;
        bottom: 6%;
    }
} */

@media (max-width: 576px) {

    .ecommerce_about_team .team_box .team-img::before {
        background-color: #06d6a0;
        left: 64%;
        top: 6%;
        
    }
    
    
    .ecommerce_about_team .team_box .team-img::after {
        background-color: #ef476f;
        left: 32%;
        bottom: 9%;
    }
}

