@font-face {
    font-family: 'droid';
    src: url('../../Assets/font/Droid.ttf');
}

.intro {
    background-image: url("../../Assets/images/bg5.jpg");
    height: 700PX;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: relative;
}

.herotext {
    display: flex;
    justify-content: center;
    color:  black;
    position: absolute;
    left: 134px;
    top: 374px;
    font-family: 'droid';
}

.herotext span {
    color: #81ba00;
    font-family: 'droid';
}

@media(max-width:1200px) {

    .herotext {
        display: flex;
        justify-content: center;
        color:  black;
        position: absolute;
        left: 134px;
        padding-right: 10px;
        top: 300px;
        margin-top: 200px;
        font-family: 'droid';
    }
}
